[submodule "user-service"]
	path = user-service
	url = git@github.com:VinaySatrasala/user-service.git
[submodule "capstone-reporting-service"]
	path = capstone-reporting-service
	url = https://github.com/Shahad7/capstone-reporting-service.git
[submodule "calculation-service"]
	path = calculation-service
	url = git@github.com:VinaySatrasala/calculation-service.git
[submodule "capstone-gateway"]
	path = capstone-gateway
	url = git@github.com:Shahad7/capstone-gateway.git
[submodule "capstone-registry-service"]
	path = capstone-registry-service
	url = git@github.com:Shahad7/capstone-registry-service.git
